
body {
    font-family:  Helvetica, Arial, sans-serif;
    margin: 0px
}
h1{
    margin: 0px;
    padding: 8px;
}

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    text-shadow:none ;
}

ul{
    margin: 0px;
}
body > header {
    background-color: orange;
    color: rgb(255, 255, 255);
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    
}

body > header > nav > ul > li {
    padding: 9px;
    margin: 16px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
    
}

body > main article {
    width: 70%;
    margin: auto
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content div {
    width: 80%;
}

form {
    text-align: center;
}
h2 {
    text-align: center;
}

body>footer {
    background-color: orange;
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;

}

#footer-ul > div> li {
    margin-left: 12px;

}

#footer-ul > div > li >a {
    color: white;
    text-decoration: none;
}



img {
    border-radius: 50%;
}